/* || Reset */

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* || Variables */

:root {
  /* Colors */
  --Yellow: hsl(47, 88%, 63%);
  --White: hsl(0, 0%, 100%);
  --Gray-500: hsl(0, 0%, 42%);
  --Gray-950: hsl(0, 0%, 7%);

  /* Fonts */
  --FS-14: 14px;
  --FS-16: 16px;
  --FS-24: 24px;
  --FW-500: 500;
  --FW-800: 800;
  --FF: 'Figtree', 'Nunito', 'Outfit';
}

/* || General */

html {
  font-family: var(--FF);
  font-weight: var(--FW-500);
}

body {
  background-color: var(--Yellow);
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  line-height: 1.5;
  letter-spacing: 0;
}

/* || Card */
.card {
  width: 384px;
  height: 522px;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: var(--White);
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 6px 6px 0 black;
  padding: 24px;
  margin: 24px;
  gap: 24px;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__img {
  border-radius: 10px;
}

.card__label {
  font-weight: var(--FW-800);
  font-size: var(--FS-14);
  background-color: var(--Yellow);
  color: var(--Gray-950);
  width: 90px;
  padding: 6px 12px;
  border-radius: 4px;
  text-align: center;
}

.card__publish-time {
  color: var(--Gray-950);
}

.card__header {
  color: var(--Gray-950);
  font-weight: var(--FW-800);
  font-size: var(--FS-24);
}

.card__intro {
  color: var(--Gray-500);
  font-size: var(--FS-16);
}

.card__author {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card__author-img {
  width: 32px;
  height: auto;
  margin-right: 12px;
}

.card__author-name {
  color: var(--Gray-950);
  font-weight: var(--FW-800);  
}