/* || Reset */

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* || Variables */

:root {
  /* colors */
  --Green-500: hsl(158, 36%, 37%);
  --Green-700: hsl(158, 42%, 18%);
  --Black: hsl(212, 21%, 14%);
  --Grey: hsl(228, 12%, 48%);
  --Cream: hsl(30, 38%, 92%);
  --White: hsl(0, 0%, 100%);

  /* fonts */
  --FS-P: 14px;
  --FF-Montserrat: "Montserrat", sans-serif;
  --FF-Fraunces: "Fraunces", sans-serif;
  --FW-500: 500;
  --FW-700: 700;
}



/* || General */

body {
  min-width: 375px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--Cream);
}

p {
  font-size: var(--FS-P);
}

/* || Text */

.text-set-1 {
  font-family: var(--FF-Fraunces);
  font-weight: var(--FW-700);
  font-size: 32px;
  line-height: 1;
  letter-spacing: 0;
}

.text-set-2 {
  font-family: var(--FF-Montserrat);
  font-weight: var(--FW-700);
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0;
}

.text-set-3 {
  font-family: var(--FF-Montserrat);
  font-weight: var(--FW-500);
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0;
}

.text-set-4 {
  font-family: var(--FF-Montserrat);
  font-weight: var(--FW-500);
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 5px;
}

.text-set-5 {
  font-family: var(--FF-Montserrat);
  font-weight: var(--FW-500);
  font-size: 13px;
  line-height: 1.2;
  letter-spacing: 0;
}

.text--line-through {
  text-decoration: line-through;
}

/* || Card */

.card {
  width: 350px;
  height: 750px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: var(--White);
}

.card__hero-img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card__content {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card__title {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card__title-main {
  color: var(--Black);
}

.card__title-sub {
  color: var(--Grey);
}

.card__describtion {
  color: var(--Grey);
}

.card__price {
  display: flex;
  align-items: center;
  gap: 16px;
}

.card__price--origin {
  color: var(--Grey);
}

.card__price--discount {
  color: var(--Green-500);
}

/* || Button */

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--Green-500);
  border: none;
  border-radius: 8px;
  gap: 8px;
  padding: 16px 32px;
}

.button__text {
  color: var(--White);
}

.button__icon {
  width: 18px;
  height: 18px;
}

.button:hover {
  background-color: var(--Green-700);
}

/* || Media query */

@media screen and (min-width: 768px) {
  .card {
    width: 600px;
    height: 456px;
    flex-direction: row;
    
  }

  .card__hero-img {
    border-top-right-radius: 0;
    border-bottom-left-radius: 8px;
    height: 100%;
    object-fit: cover;
    
  }

  .card__content {
    gap: 32px;
    flex: 0 0 300px;
  }
}