/* || Reset */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* || Variables */
:root {
  /* colors */
  --Green: hsl(75, 94%, 57%);
  --White: hsl(0, 0%, 100%);
  --Grey700: hsl(0, 0%, 28%);
  --Grey800: hsl(0, 0%, 14%);
  --Grey900: hsl(0, 0%, 8%);

  /* fonts */
  --FW400: 400;
  --FW600: 600;
  --FW700: 700;
  --FS30: 30px;
  --FS16: 16px;
  --FS14: 14px;
}

/* || General */

html {
  font-family: 'Inter', sans-serif;
  font-size: 14px
}

body {
  background-color: var(--Grey900);
  min-height: 100vh;
  min-width: 375px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.attribution {
  color: var(--White);
}

/* || Card */

.card {
  background-color: var(--Grey800);
  width: clamp(340px, 100%, 400px);
  height: 630px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin: 24px;
}

.card__profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__img-container {
  margin-bottom: 24px;
}

.card__img {
  width: 100px;
  border-radius: 50px;
}

.card__name {
  color: var(--White);
  font-size: var(--FS30);
  font-weight: var(--FW700);
  margin-bottom: 10px;
}

.card__location {
  color: var(--Green);
  font-size: var(--FS16);
  font-weight: var(--FW600);
  margin-bottom: 24px;
}

.card__intro {
  color: var(--White);
  font-size: var(--FS14);
}

.card__link-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 12px;
}

.card__link {
  background-color: var(--Grey700);
  color: var(--White);
  width: 75%;
  padding: 14px 0;
  border-radius: 6px;
  text-align: center;
}

