/* || Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

img,
picture {
  display: block;
  width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
  border: none;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  ::after,
  ::before {
    animation-duration: 0s !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0s !important;
    scroll-behavior: auto !important;
  }
}

/* || Variables */
:root {
  /* colors */
  --bg-main: #212121;
  --font-main: #ffffff;
  --font-sec: #b8b8b8;
  --yellow: #c5991e;
  --space-object-border: rgb(70, 70, 70);

  /* fonts */

  --FW-light: 300;
  --FW-regular: 400;
  --FW-semi-bold: 600;
  --FW--bold: 700;
  --FW--ex-bold: 800;
  --FF: "Big Shoulders", sans-serif;

  /* change when windwo width between 357 - 678 px */
  --step--2: clamp(0.7813rem, 0.7634rem + 0.0763vw, 0.8rem);
  --step--1: clamp(0.9375rem, 0.8779rem + 0.2545vw, 1rem);
  --step-0: clamp(1.125rem, 1.0057rem + 0.5089vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.1472rem + 0.8651vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.3021rem + 1.3562vw, 1.9531rem);
  --step-3: clamp(1.944rem, 1.4694rem + 2.0251vw, 2.4414rem);
  --step-4: clamp(2.3328rem, 1.6468rem + 2.9271vw, 3.0518rem);
  --step-5: clamp(2.7994rem, 1.8305rem + 4.1337vw, 3.8147rem);

  /* spacing */
}

/* || Utilities */
.flow-step-3 > * + * {
  margin-top: 5rem;
}

.--FS-step-0 {
  font-size: var(--step-0);
}
.--FS-step-1 {
  font-size: var(--step-1);
}
.--FS-step-2 {
  font-size: var(--step-2);
}
.--FS-step-3 {
  font-size: var(--step-3);
}
.--FS-step-4 {
  font-size: var(--step-4);
}
.--FS-step-5 {
  font-size: var(--step-5);
}

.--FW-semi-bold {
  font-weight: var(--FW-semi-bold);
}
.--FW-semi-bold {
  font-weight: var(--FW-bold);
}
.--FW-regular {
  font-weight: var(--FW-regular);
}

/* || Generals */
body {
  font-family: var(--FF);
  background-color: var(--bg-main);
  color: var(--font-main);
}

h1,
h2,
h3 {
}

h1 {
}

h2 {
}

h3 {
}

p {
}

/* || Components */

/* =========== end of Components ============= */

/* || Header */
header {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
}

/* hamburger menu */
.hamburger-button {
  width: 20px;
  height: 20px;
  margin-right: 1rem;
  cursor: pointer;
}

.hamburger-menu {
  position: absolute;
  top: 3rem;
  right: 0;
  background-color: var(--bg-main);
  width: 100vw;
  display: flex;
  flex-direction: column;
  height: 0;
  transition: height 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  overflow: hidden;
  z-index: 100;
}

.hamburger-menu__logo {
  font-size: 32px;
  margin: 2rem;
  position: relative;
}

.hamburger-menu__logo::after {
  content: "";
  height: 5px;
  width: 350px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--yellow);
}

.hamburger-menu__list {
  font-size: 20px;
  margin: 1rem;
  text-align: end;
}

.hamburger-menu__list li {
  display: block;
  margin-block: 1.5rem;
}

.show {
  height: 22rem;
}

/* ============= end of Header =========== */

/* || Hero */

.hero {
  width: 100%;
  height: calc(100vh - 3rem);
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.hero__title {
  text-align: center;
}

.hero__title-main {
  font-size: var(--step-4);
  font-weight: var(--FW--ex-bold);
}

.hero__title-sec {
  font-size: var(--step-0);
  font-weight: var(--FW-regular);
  color: var(--font-sec);
}

.hero__carousel {
  width: 100%;
  min-width: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__carousel-info {
  font-size: var(--step-2);
  font-weight: var(--FW-semi-bold);
  padding-top: 2rem;
  text-align: center;
}

.hero__show-more-link {
  color: var(--font-sec);
  font-size: var(--step-0);
  text-transform: uppercase;
  position: relative;
}

.hero__show-more-link:active {
  scale: 0.9;
  transition: scale 0.1s ease-in-out;
}

.hero__show-more-link > i {
  position: absolute;
  bottom: -100%;
  left: calc(50% - 10px);
  opacity: 0;
}

.hero__show-more-link:hover > i {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

/* || Carousel */
.carousel-container {
  width: 100%;
  max-width: 40rem;
  anchor-name: --carousel-container;
}

.carousel-container--full-screen {
  max-width: none;
}

.carousel {
  width: 100%;
  position: relative;
}

.carousel--vertical {
  width: 100%;
  max-height: 100vh;
  aspect-ratio: 15/11;
  display: flex;
  align-items: center;
  position: relative;
}

/* nav button */
.carousel__nav-button {
  width: 2rem;
  height: 2rem;
  color: black;
  border-radius: 0.5rem;
  padding: 0.5rem;
  z-index: 10;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(317deg)
    brightness(103%) contrast(102%);
  position: absolute;
  visibility: hidden;
}

.carousel__nav-button--prev {
  bottom: 5%;
  left: 10%;
}
.carousel__nav-button--next {
  bottom: 5%;
  right: 10%;
}
/* ----------------------- */

/* pagination */
.carousel__pagination {
  --swiper-pagination-top: 92%;
  --swiper-pagination-bottom: 0;
  --swiper-pagination-bullet-horizontal-gap: 5px;
  --swiper-pagination-bullet-width: 6px;
  --swiper-pagination-bullet-height: 6px;
  --swiper-pagination-color: rgb(255, 255, 255);
  --swiper-pagination-bullet-inactive-color: gray;
  background-color: #212121;
}

.carousel__pagination--vertical {
  visibility: hidden;
}

.carousel__pagination .swiper-pagination-bullet {
  opacity: 1;
  scale: 0.8;
}

.carousel__pagination .swiper-pagination-bullet-active {
  scale: 1;
  transition: scale 0.25s;
}
