/* || Card */
a:link {
  color: blue;
  text-decoration: underline;
}

.main {
  padding: 2rem;
}

.details {
  background-color: lightgray;
  padding: 0.8rem;
  width: 50%;
  border-radius: 0.5rem;
  border: 1px solid black;
  overflow: hidden;
  position: relative;
}

.details__summary {
  cursor: pointer;
  margin-left: 1.5rem;
}

.details__content {
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-top: 1rem;
}

.details::details-content {
  display: block;
  overflow: hidden;
  block-size: 0;
  transition-property: block-size, content-visibility;
  transition-duration: 0.5s;
  transition-behavior: allow-discrete;
}

.details[open]::details-content {
  block-size: auto;
  block-size: calc-size(auto, size);
}

summary::marker {
  content: none;
}

summary::before {
  content: "▶";
  position: absolute;
  transition: rotate 0.5s;
  transform-origin: center;
  inset-inline-start: 1rem;
  inset-block-start: 0.6rem;
}

.details[open] summary::before {
  transform: rotate(90deg);
}

