/* || Reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing : border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* || Variables */

:root {
  /* Fonts */
  --FF: Arial, sans-serif;
  --FS-S: clamp(0.8rem, 0.8vw, 1rem);
  --FS-M: clamp(1rem, 1vw, 1.2rem);
  --FS-L: clamp(1.2rem, 1.2vw, 1.5rem);

  /* Colors */


  /* Shadows */
  --BS-LIGHT: 0 0 1rem rgba(0, 0, 0, 0.2);
  --BS-MIDIUMN: 0 0 1rem rgba(0, 0, 0, 0.4);
  --BS-DARK: 0 0 1rem rgba(0, 0, 0, 0.6);
}

/* || General */

html {
  font-family: var(--FF);
  font-size: var(--FS-M);
}

body {

}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}